html,
body {
    overflow-x: hidden
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #454545
}

body button.focus,
.btn:focus {
    outline: none !important;
    outline-offset: 0 !important
}

ul,
ol,
* {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%
}

a {
    text-decoration: none !important;
    display: inline-block
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

Images {
    max-width: 100%
}

::placeholder {
    color: #454545 !important
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px
}

::-webkit-scrollbar-track {
    background: #666
}

::-webkit-scrollbar-thumb {
    background: #3683BC
}

:focus {
    outline: none;
    -webkit-appearance: none
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #3683BC;
    box-shadow: 0px 0 0 1px #3683bc;
    width: 14px;
    height: 14px;
    appearance: none;
    border-radius: 50%
}

textarea {
    resize: none
}

::-webkit-scrollbar-thumb:hover {
    background: #3683BC
}

button {
    outline: none !important
}

p {
    margin: 0;
    font-weight: 400;
    color: #454545;
    font-size: 18px;
    line-height: 30px
}

.btn.white_btn {
    color: #454545 !important
}

.large-coll {
    font-size: 30px !important;
    line-height: 36px !important
}

.no-js #loader {
    display: none
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
    display: -ms-flexbox;
    display: flex
}

.container {
    max-width: 1170px
}

.spinner-border {
    width: 45px;
    height: 45px;
    border: 1px solid #575757;
    border-right-color: transparent;
    border-radius: 50%
}

.extraaspcing {
    margin-top: 30px
}

.ornage_text {
    color: #FF9C07 !important
}

.blue_text {
    color: rgb(56, 132, 189) !important
}

.white_text {
    color: #fff !important
}

.black_text {
    color: #454545 !important
}

.font_bebas {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.font_reg {
    font-weight: 400 !important
}

.font_med {
    font-weight: 500 !important
}

.font_bold {
    font-weight: 700 !important
}

.font_xbold {
    font-weight: 800 !important
}

.main_content {
    overflow: hidden
}

.font_24 {
    font-size: 24px;
    line-height: 28.8px
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.dot {
    font-size: 30px;
    position: relative;
    top: 4px
}

.dropdown:hover .sub-item {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.1s
}

.sub-item {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.03s
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3683BC
}

.header {
    transition: ease-in-out 0.2s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999
}

.darkHeader {
    box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important
}

.pp-p {
    z-index: 9
}

.header .navbar {
    padding: 0px 40px;
    background: rgba(255, 255, 255, 0) !important;
    transition: ease-in-out 0.2s
}

.darkHeader .navbar {
    padding: 10px 40px;
    background: #fff !Important
}

.header .navbar-brand {
    padding: 0;
    margin-right: 0;
    width: 297px;
    transition: ease-in-out 0.2s
}

.navbar-brand img {
    max-width: 100%;
    padding-top: 10px
}

.blurimg {
    opacity: 0.6;
    width: 100%
}

.navbar-light .navbar-nav .nav-link:active {
    color: #3673bc
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background: none !Important;
    color: #3683bc
}

.darkHeader .navbar-brand {
    width: 170px
}

.sale_img {
    margin-top: -60px
}

.navbar-light .navbar-nav .nav-link {
    color: #454545;
    padding: 7px 15px
}

.header .navbar a {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative
}

.nav-link i {
    padding-right: 10px
}

.active.nav-link {
    font-weight: 600 !Important;
    color: #3683bc !important
}

.custom_head {
    align-items: flex-start !important
}

.price_list .btn a {
    color: #fff
}

.header .navbar-nav li .active {
    font-weight: 600 !important
}

.header .navbar-nav li .active,
.blue_text {
    color: #3683bc !important;
    background: none !Important
}

.dropdown-item:before {
    content: "25CF";
    color: #aaa;
    margin-right: 10px
}

a.btn.blue_btn {
    text-decoration: none !important
}

.active::after {
    border-right: 2px solid #3683bc !important;
    border-bottom: 2px solid #3683bc !important
}

.term_sec a {
    text-decoration: underline !Important;
    color: #3683bc
}

.list_txt li {
    margin-bottom: 0px
}

.list_txt span {
    font-weight: 500
}

.flex-tec {
    margin: 10px 15px
}

#basic-navbar-nav {
    padding-top: 25px
}

.darkHeader #basic-navbar-nav {
    padding-top: 8px
}

.dropdown-toggle::after {
    display: inline-block;
    vertical-align: 2px;
    border: none;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    margin: 0 0 0 5px
}

.list_txt li::marker {
    font-weight: 700
}

.header .dropdown-menu,
.sub-item {
    padding: 5px 0 !important;
    text-align: left;
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    width: 170px !important;
    border-radius: 0;
    background: #fff
}

.header li:hover .dropdown-menu {
    display: block
}

.header .dropdown-menu .dropdown-item {
    color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px 5px 20px
}

.show.dropdown.nav-item>a {
    color: #3683BC !important
}

.header .dropdown-menu .dropdown-item:hover {
    color: #3683bc;
    background: none
}

.header_top {
    padding: 25px 0 45px
}

.logo_top {
    width: 297px
}

.btn {
    transition: 0.5s ease-in;
    font-size: 16px;
    background: #ff9c07;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 9px 40px;
    color: #fff !important;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    min-width: 107px
}

.nav-item .blue_btn:hover {
    background: #24356c !important
}

.btn:hover {
    background: #3683bc !Important
}

.blue_btn {
    background: #3683BC;
    transition: 0.5s ease-in;
    border-color: none
}

.blue_btn:hover {
    background: #ff9c07 !important
}

header .navbar .btn {
    margin: 0px 8px;
    font-weight: 500;
    color: #fff !Important;
    letter-spacing: inherit
}

.real_img img {
    position: relative;
    margin-top: -70px
}

.banner_sec {
    padding: 50px 0 15px
}

.head_h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px
}

.head_h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 35px
}

.Drop-active .dropdown-toggle {
    color: #3683bc !important
}

.head_h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px
}

.head_h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 15px
}

.reach_sec {
    padding: 80px 0 20px
}

.reach_sec h3 {
    font-size: 36px;
    line-height: 43px;
    text-decoration: none;
    margin: 0
}

.discount_txt {
    color: #454545;
    text-decoration: line-through
}

.reach_sec p {
    font-size: 18px;
    line-height: 22px
}

.reach_sec h2 {
    font-size: 36px;
    line-height: 50px
}

.know_box {
    transition: 0.5s ease-in-out;
    border: 1px solid #E4EAF0;
    box-sizing: border-box;
    padding: 35px 20px 35px 30px;
    box-shadow: 0px 10px 20px rgba(69, 158, 255, 0.1)
}

.know_box:hover {
    transform: scale(1.1);
    cursor: pointer
}

.built_sec {
    margin: 50px 0;
    padding: 20px 0px 70px;
    background: #F4FAFF
}

.built_media {
    background: #fff;
    border: 1px solid rgba(228, 234, 240, 0.5);
    box-shadow: 0px 0px 20px rgb(69 158 255 / 25%);
    margin-top: 50px;
    align-items: normal !Important;
    max-width: 477px
}

.built_media .media-body {
    padding: 15px 35px 10px 15px;
    background: #fff
}

.head_h3 .blue_text {
    font-weight: 700
}

.source_sec {
    background: #F4FAFF;
    padding: 50px 0
}

.source_layer {
    padding-left: 0
}

.blackDot_img {
    margin: 30px 0
}

.source_text p {
    line-height: 20px;
    font-size: 15px;
    text-align: justify
}

.source_text p:not(:last-child) {
    margin-bottom: 40px
}

.source_sec h3 {
    margin-top: 70px
}

.source_img {
    align-items: center
}

.source_layer img {
    position: relative
}

.layer1 {
    top: -20px;
    left: -45px
}

.layer2 {
    top: -10px
}

.layer3 {
    left: 10px
}

.layer4 {
    top: 10px
}

.layer5 {
    left: -45px;
    top: 20px
}

.row.source_img:hover .b_logo {
    transform: translate(2px, 2px);
    transition: 0.2s
}

.source_img img {
    transition: transform .5s ease-in-out;
    perspective: 800px
}

.source_img:hover img {
    transform: translate(3px, 3px)
}

.source_layer:hover .layer1 {
    transition-delay: 0.0s;
    transform: translate(2px, 2px)
}

.source_layer:hover .layer2 {
    transform: translate(2px, 2px);
    transition-delay: 0.2s
}

.source_layer:hover .layer3 {
    transform: translate(2px, 2px);
    transition-delay: 0.4s
}

.source_layer:hover .layer4 {
    transform: translate(2px, 2px);
    transition-delay: 0.6s
}

.source_layer:hover .layer5 {
    transform: translate(2px, 2px);
    transition-delay: 0.7s
}

.afilits_sec h3 span {
    font-weight: 800
}

.list_main {
    padding: 50px 0px
}

.mid_con {
    max-width: 800px;
    margin: 0px auto
}

.ready-secc .sale_Images {
    width: 700px;
    margin-top: -90px
}

.pro-new-sec h5 {
    font-size: 20px !important;
    text-transform: initial !important;
    margin-bottom: 10px !important
}

.product-rule:before {
    display: none
}

.pro-new-sec p {
    font-size: 15px !important;
    line-height: 22px !Important
}

.bound_sec {
    padding: 80px 0
}

.bound_sec .head_h2 {
    font-size: 72px;
    line-height: 65px;
    font-weight: 400
}

.bound_sec .head_h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px
}

.bound_sec p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    max-width: 300px;
    margin-bottom: 25px
}

.fat-font {
    font-weight: 800 !important
}

.slick-prev,
.slick-next {
    height: 30px !important;
    width: 30px !important
}

.text-center .demo_btns {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center
}

.api-media:hover,
.tec_box:hover,
.serve_media:hover,
.built_media:hover,
.in-circle .media img:hover,
.white_cricle:hover {
    transform: scale(1.06)
}

.white_cricle,
.in-circle .media img,
.built_media,
.tec_box,
.media {
    transition: 0.3s ease-in-out
}

.solar_div {
    background: #3683BC;
    padding: 70px 0px;
    background-position: center
}

.solar_div h2 {
    color: #fff
}

.logo_slider ul.slick-dots {
    display: none !important
}

.slick-slide img {
    margin: 0px auto
}

.mt_80 {
    margin-top: 80px
}

.slick-prev:before {
    content: " ";
    background: url("../public/Assets/Images/prev.png");
    height: 46px;
    position: absolute;
    width: 25px;
    left: -60px;
    top: -6px
}

.slick-next:before {
    background: url("../public/Assets/Images/next.png");
    height: 46px;
    content: "";
    position: absolute;
    width: 25px;
    right: -60px;
    top: -6px
}

.slick-prev:before,
.slick-next:before {
    font-size: 0px
}

.video_icon {
    border: none;
    margin-top: -15px;
    background: none
}

.data_head {
    max-width: 700px;
    margin: 0 auto 30px
}

.font_15 {
    font-size: 15px;
    line-height: 25px
}

.lt_grey {
    color: #5F5F5F
}

.trail_textp {
    font-size: 20px
}

.data_sec p {
    font-size: 18px;
    line-height: 25px;
    text-align: justify
}

.data_box {
    max-width: 980px;
    padding-top: 50px;
    margin: 0 auto 50px
}

.data_list li {
    transition: 0.3s ease-in;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #454545;
    padding-left: 42px;
    background: url("../public/Assets/Images/Check.svg") no-repeat;
    background-position: left;
    min-height: 50px;
    display: flex;
    align-items: center
}

.data_listhand li {
    transition: 0.3s ease-in;
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
    color: #5f5f5f;
    padding-left: 42px;
    background: url("../public/Assets/Images/hand.png") no-repeat;
    background-position: left;
    min-height: 60px;
    display: flex;
    background-size: 30px;
    align-items: center
}

.data_listcheck li {
    transition: 0.3s ease-in;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    color: #5f5f5f;
    padding-left: 42px;
    background: url("../public/Assets/Images/check-2.png") no-repeat;
    background-position: left;
    margin-bottom: 13px;
    display: flex;
    background-size: 36px;
    align-items: center;
    min-height: 43px
}

.text-black li {
    color: #454545
}

.home_box {
    border: 1px solid #E4EAF0;
    box-shadow: 0px 10px 20px rgba(69, 158, 255, 0.1);
    width: 100%;
    background: #fff;
    height: 100%;
    border-radius: 0;
    padding: 15px 10px 15px;
    min-height: 167px;
    transition: .3s ease-in
}

.home_box .head_h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-transform: inherit;
    letter-spacing: inherit;
    margin-top: 5px
}

.fasterfrdm {
    margin-top: -30px;
}

.fasterlog {
    position: absolute;
    top: 13px;
}

.bottm_box {
    margin-top: 50%
}

.mid_box {
    margin-top: 20px !important
}

.side_box {
    top: 110px
}

.arrow_mail {
    margin-top: 12%
}

.home_box p {
    font-size: 14.83px;
    line-height: 17px;
    font-weight: 500
}

.center_mac:before {
    content: "";
    background: url("../public/Assets/Images/wing1.svg");
    position: absolute;
    width: 429px;
    height: 419px;
    left: -189px;
    top: 97px;
    z-index: -1
}

.center_mac:after {
    content: "";
    background: url("../public/Assets/Images/wing.svg");
    position: absolute;
    width: 419px;
    height: 429px;
    right: -280px;
    top: -90px;
    z-index: -1
}

.first_box {
    left: 30px
}

.last_box {
    right: 30px
}

.mac_mid img {
    width: 500px
}

.data_list li:hover {
    padding-left: 50px
}

.footer_sec {
    padding: 30px 0
}

.footer_sec p,
.footer_menu a {
    font-size: 14px;
    transition: 0.5s ease-in;
    line-height: 17px;
    color: #454545
}

.footer_menu a:hover {
    color: #3683bc;
    text-decoration: none !important
}

.footer_menu a {
    text-decoration: underline !Important
}

.footer_menu {
    margin: 20px 0
}

.footer_menu a:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid;
    line-height: 12px
}

.social_icon img {
    padding-left: 20px;
    transition: 0.5s ease-in
}

.footer_sec h4 {
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 2px
}

img.facicon {
    padding-left: 0px;
}

.social_icon img:hover {
    opacity: 0.7
}

.pt_78 {
    padding-top: 78px
}

.inner_bnr {
    position: relative;
    background: #F4FAFF;
    padding: 40px 0 20px;
    min-height: 200px
}

.inner_bnr:after {
    content: "";
    background: url("../public/Assets/Images/right-dots.svg");
    width: 98px;
    height: 186px;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 2
}

.range_box .jumbotron {
    padding: 0;
    background: none;
    margin: 5px 0 7px
}

.inner_bnr:before {
    content: "";
    background: url("../public/Assets/Images/right-dots.svg");
    width: 98px;
    height: 186px;
    position: absolute;
    left: 0;
    top: 5px;
    transform: rotate(180deg);
    z-index: 2
}

.error-img {
    max-width: 450px;
    margin: auto;
    display: block;
    margin-top: 20px
}

.inner_bnr .head_h1 {
    font-weight: 400;
    background: none;
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto
}

.form_sec {
    position: relative;
    padding: 50px 0
}

.form_sec p {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: justify
}

.voice_sec {
    position: relative;
    margin-bottom: 50px
}

.orange_text {
    color: #FF9C07 !important
}

.cont_form {
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgb(71 74 182 / 12%);
    padding: 60px 40px;
    margin-bottom: 90px;
    margin-top: -13%
}

.cont_form .form_icon {
    top: 10px
}

.cont_form .comment_icon {
    height: 60px
}

.cont_form input,
.cont_form textarea {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(71, 74, 182, 0.12);
    border-radius: 0px;
    font-size: 16px;
    padding: 25px 35px;
    margin-bottom: 30px
}

.img_mt75 {
    margin-top: -75px
}

.text_16 p {
    font-size: 16px
}

.form_icon {
    position: absolute;
    top: 0;
    filter: brightness(0.9);
    width: 45px;
    text-align: center;
    height: 34px
}

div#wpforms-243863-field_7-container {
    text-align: left
}

.form_box textarea.form-control {
    height: 90px;
    padding: 12px 15px 10px 45px;
    border-radius: 20px
}

.comment_icon {
    height: 50px
}

.banner_text p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400 !Important;
    max-width: 360px;
    color: #454545
}

.trail-h1 {
    font-weight: 800 !important;
    font-size: 72px;
    padding: 20px 0px;
    margin: 20px 0px !important;
    line-height: 56px;
    font-style: italic;

}

.text_18 {
    font-size: 18px !important
}

.trial-source li {
    font-size: 21px
}

.custom-container {
    max-width: 1240px
}

.innerc21 {
    position: relative;
    left: 75px
}

.videoTag {
    max-width: 100%;
    pointer-events: none
}

img.userst {
    border-radius: 50%;
    max-width: 120px;
    margin: 0px auto
}

.serve_sec h3 {
    color: #5f5f5f !important
}

.serve_sec h5 {
    font-size: 20.36px;
    line-height: 27.14px;
    font-weight: 600 !Important;
    margin: 0 0 10px;
    color: #3884bd !important
}

.serve_media {
    min-height: 171px;
    background: #fff;
    border: 1px solid #E4EAF0;
    box-shadow: 0px 10px 20px rgba(69, 158, 255, 0.1);
    margin-top: 40px;
    max-width: 465px;
    padding: 20px 20px;
    text-align: left
}

.serve_media .media-left {
    margin-right: 25px
}

.serve_sec p {
    color: #5f5f5f !Important;
    font-weight: 400;
    font-size: 15px;
    line-height: 23.75px
}

.font_40 {
    font-size: 40px;
    line-height: 40px
}

.card-header {
    background: none;
    text-align: left;
    border-bottom: none;
    padding: 18px 1.25rem
}

.card {
    border: none
}

.term_sec {
    position: relative;
    padding: 45px 0 60px
}

.h_txt {
    font-size: 24px
}

.p_txt {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 30px
}

.list_txt {
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px
}

.left_dots:after {
    position: absolute;
    background: url("../public/Assets/Images/bgicon1.svg");
    top: 12%;
    content: "";
    height: 401px;
    width: 245px;
    right: 0px
}

.bottom_dots:before {
    position: absolute;
    background: url("../public/Assets/Images/left-grey.svg");
    top: 55%;
    content: "";
    height: 154px;
    width: 95px;
    left: 0px
}

.bottom_dots:after {
    position: absolute;
    background: url("../public/Assets/Images/bgicon1.svg");
    bottom: 18%;
    content: "";
    height: 401px;
    width: 245px;
    right: 0px
}

.bottom_dot:before {
    position: absolute;
    background: url("../public/Assets/Images/left-grey.svg");
    top: 20%;
    content: "";
    height: 154px;
    width: 95px;
    left: 0px
}

.bottom_dot:after {
    position: absolute;
    background: url("../public/Assets/Images/bgicon1.svg");
    top: 25%;
    content: "";
    height: 401px;
    width: 245px;
    right: 0px
}

.bottom_dot1:before {
    position: absolute;
    background: url("../public/Assets/Images/left-grey.svg");
    top: 35%;
    content: "";
    height: 154px;
    width: 95px;
    left: 0px
}

.bottom_dot1:after {
    position: absolute;
    background: url("../public/Assets/Images/bgicon1.svg");
    top: 39%;
    content: "";
    height: 401px;
    width: 245px;
    right: 0px
}

.rpivacy-sec:before {
    position: absolute;
    background: url("../public/Assets/Images/left-grey.svg");
    top: 9%;
    content: "";
    height: 154px;
    width: 95px;
    left: 0px
}

.mb_10 {
    margin-bottom: 10px
}

.custom_tbl .table {
    margin: 0 0 30px
}

.custom_tbl tr td {
    vertical-align: middle;
    font-size: 18px;
    line-height: 28px;
    color: #454545;
    border: 2px solid rgb(54 131 188 / 0.5);
    padding: 20px
}

.custom_tbl tr:first-child td {
    border-top: none;
    padding-top: 0
}

.custom_tbl tr:last-child td {
    border-bottom: none;
    padding-bottom: 0
}

.custom_tbl tr td:first-child {
    border-left: none;
    padding-left: 0;
    min-width: 265px
}

.custom_tbl tr td:last-child {
    border-right: none;
    padding-right: 0
}

.salrep_sec.livereport {
    background: none
}

.text_upr {
    text-transform: uppercase
}

.demo_btns .head_h2 {
    font-size: 35px;
    line-height: 42px
}

.talk_box p {
    width: 90%
}

.demo_btns .head_h1 {
    font-size: 70px;
    line-height: 64px;
    margin-top: 12px
}

.new-Left a {
    margin-left: 0px !important;
    margin-top: 15px
}

.demo_btns .btn:last-child {
    margin-top: 15px !Important
}

.report_sec {
    background: url("../public/Assets/Images/first-bg.svg") no-repeat center/cover;
    padding: 20px 0
}

.Images_mt75 {
    margin-top: -75px
}

.talk_box .head_h2 {
    font-size: 40px;
    line-height: 48px
}

.font_16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify
}

.talk_box p {
    margin: 12px 0 30px
}

.exp_sec {
    padding: 0 0 40px
}

.font_50 {
    font-size: 50px
}

.font_30 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px
}

.font_28 {
    font-size: 28px;
    line-height: 34px
}

section.pricing_sec {
    padding: 50px 0 0px
}

section.pricing_sec h2.head_h2 {
    font-size: 34px;
    color: #3683BC !important
}

section.pricing_sec h3.head_h3 {
    color: #3683bc !important
}

.row.gap_0 {
    max-width: 1040px;
    margin: 0px auto;
    margin-bottom: 40px
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.row1 h4 {
    text-transform: uppercase;
    color: #3683BC !important;
    text-align: center;
    width: 100px;
    font-weight: 700;
    margin: 0
}

.row1 img {
    transition: ease-in-out.5s;
    transform-origin: right
}

.row1 img:hover {
    transform: scale(1.08)
}

.price_dtl {
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: ease-in-out .5s
}

.price_dtl h3 {
    background: #C3C3C3;
    border-radius: 15px 15px 0px 0px;
    font-weight: 500;
    font-size: 26px;
    line-height: 20px;
    padding: 25px 10px 15px
}

.price_dtl p {
    padding-top: 15px;
    text-decoration: underline;
    font-weight: 400;
    text-transform: capitalize
}

.price_dtl h3 span {
    display: block;
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 16px;
    transition: ease-in-out .5s
}

.price_dtl h3:after {
    content: "";
    display: block;
    background: #C3C3C3;
    width: 40px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    transform: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1
}

.price_list {
    padding: 30px 25px 20px;
    margin: 0 auto
}

.price_dtl h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 20px
}

.price_dtl.active h2 {
    font-size: 64.23px
}

.price_dtl h2 span {
    font-size: 20px
}

.price_list small {
    font-weight: 400;
    font-size: 13px;
    color: #454545;
    line-height: 14px
}

.gap_0 .col-md-4 {
    padding: 0px
}

.pricing_btn .btn:last-child {
    margin-top: 15px !important
}

.price_list ul {
    min-height: 150px;
    color: #454545;
    margin-top: 20px
}

.price_list li {
    font-size: 13.38px;
    line-height: 30.38px;
    padding-left: 31px;
    background: url("../public/Assets/Images/check.png") no-repeat;
    background-position: center left 0;
    padding-top: 5px;
    padding-bottom: 5px
}

.check_batch li {
    background: url("../public/Assets/Images/check.png") no-repeat;
    background-position: center left 0;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal
}

.price_list li span {
    font-weight: bold
}

.blue_bg {
    background: #3683BC;
    border-color: #3683BC
}

.price_list .btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    min-width: 230px;
    padding: 12px;
    height: auto;
    margin-top: 34px;
    transition: ease-in-out .5s
}

p.saving_price {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #3682bc;
    padding-bottom: 0;
    margin: 30px 0
}

p.saving_price>span {
    font-size: 14px;
    color: #565656
}

.price_list .btn:hover {
    background-color: #24356c
}

.price_dtl h2 del {
    font-size: 14px;
    vertical-align: 10px;
    display: inline-block;
    margin-right: 10px
}

.all_ftxt {
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: none
}

button.view_all {
    font-size: 14.72px;
    color: #454545;
    font-weight: 600;
    background: none;
    border: none;
    border-bottom: 1px dotted #4e4e4e
}

.price_dtl.active h3,
.price_dtl:hover h3 {
    background: #3683bc !important
}

.price_dtl.active h3:after,
.price_dtl:hover h3:after {
    background: #3683bc
}

.tabx_bx a {
    padding: 13px 25px;
    border: none !important;
    color: #454545;
    border-radius: 25px !important
}

#month-tabs-tab-yearly.active {
    background: #3683bc;
    border-radius: 0px 50px 50px 0px !important;
    color: #fff !important;
    transition: 0.1s ease-in
}

a#month-tabs-tab-month.active {
    background: #3683bc;
    color: #fff !important;
    border-radius: 50px 0px 0px 50px !important;
    transition: 0.1s ease-in-out
}

.tabx_bx {
    text-transform: uppercase;
    background: #FFF;
    font-weight: 500;
    color: #000;
    box-shadow: 0 0 15px 5px #D1D1D1;
    border: none !important;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 55px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.tab_bx a {
    font-size: 16px;
    height: 46px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 22
}

.price_dtl.active {
    transform: scale(1.03);
    position: relative;
    z-index: 1
}

.price_box {
    margin: 0 auto 70px
}

.lists_y {
    padding-top: 30px
}

.price_dtl:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) !Important;
    position: relative;
    z-index: 9
}

.pricing_sec .testimonial_head p {
    margin: 7px 0;
    color: #222;
    font-size: 16px;
    font-weight: 600
}

.home_owner .head_h2 {
    color: #24356c !important;
    font-size: 36px
}

.box {
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 10px;
    margin: 0 7px;
    width: 150px
}

.value {
    font-size: 32px;
    color: #3683BC !important;
    height: 81px
}

.all_ftxt {
    background: #FFF !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding: 15px;
    width: 320px;
    position: absolute;
    color: #454545 !important
}

.testimonial_sec {
    background: #3683BC;
    padding: 50px 0 120px
}

.testimonial_sec1 {
    background: #3683BC;
    padding: 50px 0px 30px;
}

.trustpilot-widget iframe {
    height: 250px !Important
}

.dark {
    color: #fff !important
}

.dark .bold-underline:not(.bold-underline--single-theme) {
    border-color: rgba(255, 255, 255, 0.6) !important
}

.dark a {
    color: #fff !important
}

.wrapper-top .tp-widget-reviews .tp-widget-review .text {
    color: #191919 !important
}

.wrapper-top .tp-widget-reviews .tp-widget-review .header {
    color: #1f2936 !important
}

.testimonial_head .head_h2 {
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase
}

.testimonial_head p {
    font-size: 22px;
    line-height: 26px;
    color: #aaa;
    margin: 0 0 30px
}

.items_custom {
    padding: 0 15px;
    outline: none !important
}

.logo_image.future img {
    top: 0px;
    width: 80px;
    right: 5px;
    position: relative;
}

.logo_image.ttpn img {
    right: -20px;
    position: relative;
}

.logo_image.realimg img {
    position: relative;
    right: -15px;
}

.item_content {
    min-height: 380px;
    background: #FFF;
    border-radius: 28px;
    padding: 20px
}

.user_Images span {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto
}

.user_Images .video_icon {
    margin-top: -15px
}

.item_content p {
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    line-height: 32px;
    margin: 0 0 15px
}

.items_custom h4 {
    font-size: 21px;
    line-height: 25px
}

.testimonial_slide .slick-prev:before,
.testimonial_slide .slick-next:before {
    display: none
}

.testimonial_slide .slick-prev,
.testimonial_slide .slick-next {
    background: url("../public/Assets/Images/slide_prev.svg") no-repeat center !important;
    border: none;
    height: 44px;
    width: 22px;
    border-radius: 0
}

.testimonial_slide .slick-next {
    right: -45px;
    background: url("../public/Assets/Images/slide_next.svg") no-repeat center !important
}

.testimonial_slide .slick-prev {
    left: -45px
}

.slick-dots {
    bottom: -70px
}

.slick-dots li {
    margin: 0 4px
}

.slick-dots li,
.slick-dots li button {
    width: 40px;
    height: 6px;
    padding: 0
}

.slick-dots li button {
    background: rgb(255 255 255 / 0.3)
}

.slick-dots li.slick-active {
    background: #fff
}

.slick-dots li button:before {
    font-size: 0
}

.video_modal .close {
    right: 3px;
    top: -7px;
    font-size: 28px;
    opacity: inherit
}

.home_box:hover {
    transform: scale(1.06) !important
}

.tec_sec {
    padding: 50px 0 20px
}

.dark_blue {
    color: #24356C
}

.cont_mini {
    max-width: 1040px;
    margin: 0px auto
}

.tec_box {
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(54, 131, 188, 0.2);
    padding: 15px 20px;
    width: 200px;
    min-height: 200px
}

.tec_box h2 {
    margin-top: 10px
}

.tec_box p {
    line-height: 21.6px;
    margin-top: 15px
}

.faq_sec {
    padding: 60px 0
}

.card h5 {
    margin-bottom: 0px;
    display: block;
    width: 100%;
    color: #454545 !important;
    text-decoration: none;
    background: none;
    padding: 0 20px 0 0;
    text-transform: initial;
    white-space: normal;
    position: relative;
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal !important;
    font-size: 23px;
    line-height: 31px;
    text-align: justify
}

.card h5.active {
    color: #3683bc !Important
}

.accordion>.card:not(:last-of-type),
.accordion>.card:not(:first-of-type) {
    border-radius: 20px
}

.card h5.active:before {
    content: "-";
    right: 0;
    position: absolute;
    font-size: 50px;
    cursor: pointer
}

.card h5:before {
    content: "+";
    right: 0;
    position: absolute;
    font-size: 50px;
    cursor: pointer
}

.faq_sec div#accordion button[aria-expanded="false"] .fa-minus {
    display: none
}

.faq_sec div#accordion button[aria-expanded="true"] .fa-plus {
    display: none
}

.faq_sec div#accordion button .fa {
    font-size: 24px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 2px
}

.faq_sec .card-body {
    color: #000;
    padding: 10px 0 0;
    line-height: 22px;
    font-size: 18px;
    text-align: justify
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield;
}

.faq_sec .card {
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(204 204 204 / 25%);
    border-radius: 20px;
    padding: 18px 30px 13px
}

.list-first {
    margin-top: 12px;
}

.faq_sec .card .card-header {
    border: none;
    border-radius: 0;
    padding: 0;
    position: relative;
    background: none
}

.form_box .form-group {
    position: relative;
    margin-bottom: 30px
}

.form_box .form-control {
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 34px;
    border: none;
    padding: 3px 15px 7px 45px;
    color: #454545;
    font-size: 16px;
    line-height: 20px
}

.form_box .btn {
    min-width: 230px;
    font-weight: 700
}

.white_btn a {
    color: #454545 !important
}

.white_btn:hover,
.white_btn:hover a {
    background: #24356c !important;
    color: #fff !Important
}

.leftDot_line {
    padding-left: 100px
}

.leftDot_line {
    width: 402px;
    height: 405px;
    left: 0px;
    background: url("../public/Assets/Images/dot_img.svg") no-repeat
}

.form_sec p:not(:last-child) {
    margin-bottom: 40px
}

.herozack {
    position: relative;
    left: -110px;
    top: 110px
}

.flizack {
    position: absolute;
    left: 0;
    right: 12%;
    margin-top: 30px
}

.error_msg p {
    letter-spacing: 1px;
    font-size: 16px !important
}

.error_msg h1 {
    color: #3683BC;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
    font-weight: 30px !important
}

.white_btn {
    transition: 0.5s ease-in;
    background: #fff;
    color: #454545 !Important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px
}

.form_box .white_btn {
    min-width: 225px
}

.signupnew {
    background: #F4FAFF;
    padding: 30px 0
}

.tab-content {
    display: flex;
    align-items: center
}

input#staticEmail2 {
    height: 40px;
    width: 95%;
    padding: 15px;
    font-weight: 500
}

.tabs-img {
    width: 50%;
    display: inline-block
}

.signupnew h2 {
    font-weight: 700;
    font-size: 35px;
    font-family: 'Barlow', sans-serif;
    color: #454545 !important
}

.signupnew p {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    color: #454545
}

.table-info {
    text-align: left;
    padding-left: 60px;
    width: 50%;
    display: inline-block;
    line-height: 30px;
    background: none
}

.tabs-img img {
    width: 100%
}

.data_box .nav-tabs {
    border-bottom: 2px solid #EBEBEB;
    width: 900px;
    margin: 0px auto;
    margin-bottom: 30px;
    justify-content: center
}

.data_box .nav-tabs .nav-item.show .nav-link,
.data_box .nav-tabs .nav-link.active {
    color: #454545 !important;
    font-weight: 800 !important;
    border-bottom: 5px solid #3683BC;
    background-color: #fff
}

.data_box a {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #454545;
    text-transform: uppercase;
    padding: 10px 30px
}

.data_box .nav-tabs .nav-link {
    border: none;
    cursor: pointer;
    margin-bottom: -3px;
    position: relative
}

#home-tabs-tab-map:before {
    content: "";
    background: url("../public/Assets/Images/004-search.svg");
    position: absolute;
    height: 65px;
    width: 66px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0px auto
}

#home-tabs-tab-list:before {
    content: "";
    background: url("../public/Assets/Images/001-clipboard.svg");
    position: absolute;
    height: 67px;
    width: 53px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0px auto
}

#home-tabs-tab-Skip:before {
    content: "";
    background: url("../public/Assets/Images/003-folder.svg");
    position: absolute;
    height: 65px;
    width: 65px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0px auto
}

#home-tabs-tab-messaging:before {
    content: "";
    background: url("../public/Assets/Images/002-email.svg");
    position: absolute;
    height: 65px;
    width: 65px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0px auto
}

.serve_sec h2:after {
    content: "";
    background: url("../public/Assets/Images/left-ar.svg");
    position: absolute;
    width: 107px;
    height: 75px;
    left: -110px;
    top: -13px
}

.serve_sec h2:before {
    content: "";
    background: url("../public/Assets/Images/rightar.svg");
    position: absolute;
    width: 107px;
    height: 75px;
    right: -110px;
    top: -13px
}

.serve_sec h2 {
    max-width: 450px;
    margin: 0px auto;
    position: relative
}

.compare-head h3 {
    line-height: 56px;
    font-size: 36px;
    font-weight: 600 !important;
    color: #454545 !Important
}

.cloud-bg:before {
    background: url("../public/Assets/Images/background.svg");
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    left: -79px;
    z-index: -1;
    top: -178px
}

.extra_space {
    padding-top: 80px
}

.header_top:after {
    content: "";
    background: url("../public/Assets/Images/blck-border.svg");
    width: 136px;
    height: 7px;
    position: absolute;
    left: 31px;
    top: 30px
}

.header_top:before {
    content: "";
    background: url("../public/Assets/Images/blck-border.svg");
    width: 136px;
    height: 7px;
    position: absolute;
    right: 31px;
    top: 30px
}

.cloud-affi {
    max-width: 350px;
    margin-bottom: 20px;
}

.cloud-affi p {
    font-size: 20px;
    line-height: 24px
}

.cloud-right:after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background: url("../public/Assets/Images/right-tr.svg");
    width: 547px;
    height: 431px;
    top: 0;
    left: 30px;
    z-index: -1
}

.cloud-down:after {
    position: absolute;
    content: "";
    background: url("../public/Assets/Images/cloud-d.svg");
    width: 547px;
    height: 431px;
    top: 0;
    left: 30px;
    z-index: -1
}

.cloud-short:after {
    position: absolute;
    content: "";
    background: url("../public/Assets/Images/shoet-bg.svg");
    width: 529px;
    height: 443px;
    top: 0;
    left: 30px;
    z-index: -1
}

.cloud-shut:after {
    position: absolute;
    content: "";
    background: url("../public/Assets/Images/shutbg.svg");
    width: 595px;
    height: 473px;
    top: 0;
    right: 114px;
    z-index: -1
}

.cloud-shut {
    padding: 14% 0% 0px
}

.cloud-short,
.cloud-right {
    position: relative;
    padding: 14% 8% 0px
}

.cloud-down {
    padding: 1% 8% 0px
}

.hero.ceo_hero {
    top: 0px
}

.hero {
    position: relative;
    top: -80px
}

.less-xxmt {
    margin-top: -120px
}

.short_text {
    position: absolute;
    top: 40%;
    left: 80px
}

.cloud-right.add_text {
    padding: 29% 0px 0px 16%
}

.hbb-hero {
    max-width: 270px
}

.extra_bg_herojamil {
    width: 80%
}

.more-d {
    margin-top: -200px !important
}

.jamil2-hero {
    position: absolute;
    right: -36px;
    top: 48px;
    width: 30%;
    z-index: -1;
}

img.tabhero {
    width: 66%;
    text-align: center;
    padding-top: 20px;
    display: block;
    margin-left: 20px;
}

.less-mt {
    margin-top: -10px
}

.less-xmt {
    margin-top: -120px
}

.super_hero {
    width: 800px;
    position: relative;
    right: 50%;
    top: -50px
}

.super-bottom {
    margin-top: -120px;
    margin-bottom: 50px
}

.super-left:before {
    background: url("../public/Assets/Images/sup-c.svg");
    content: "";
    position: absolute;
    width: 578px;
    height: 442px;
    top: -217px;
    z-index: -1;
    left: -70px
}

.headers_top {
    background: url("../public/Assets/Images/landing_bg.png");
    background-size: cover;
    padding: 0px 0px 40px;
    background-position: center bottom 160px;
    background-repeat: no-repeat
}

.btn-square {
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    background: #ffae00;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
    padding: 15px 70px !important;
    margin-top: 20px
}

.btn-square:hover {
    border-radius: 50px;
    color: #fff
}

.lt_greynew {
    font-weight: 800;
    font-size: 42px;
    color: #9a9ea4 !important;
    letter-spacing: 1px
}

.landing_head {
    max-width: 900px;
    margin: 0px auto
}

.font_34 {
    font-size: 34px;
    font-style: italic;
    line-height: 1.5em
}

.font_26 {
    font-size: 26px !Important;
    line-height: 35px;
    color: #666
}

.font_42 {
    font-size: 42px
}

.font_28 {
    font-size: 28px !Important;
    font-style: italic;
    color: #666;
    max-width: 980px;
    margin: 0px auto
}

.font_25 {
    font-size: 25px !Important;
    font-style: italic
}

.font_36 {
    font-size: 36px;
    text-decoration: underline
}

.landing-d {
    position: relative;
    background-color: #f7f8fc !important;
    padding-top: 250px;
    margin-top: -150px
}

.landing_list {
    justify-content: center
}

.zachhero {
    position: absolute;
    left: -370px;
    z-index: -1;
    top: 70px;
    width: 70%
}

.zachheromobile {
    display: none
}

.white_text {
    color: #fff
}

.landing-d:before {
    background: url("../public/Assets/Images/shape-top.png");
    content: "";
    top: 0px;
    height: 218px;
    width: 100%;
    position: absolute
}

.arrowline {
    width: 65%;
    margin: 20px 0px
}

.subs {
    background: #f7f8fc !important;
    padding: 50px 0px;
    margin-top: -100px
}

.dark_blue_landing {
    background: #063868;
    color: #fff
}

.dark_blue_landing p {
    color: #fff
}

.modal-dialog {
    max-width: 980px
}

button.close span {
    margin-right: 10px;
    font-size: 43px;
    font-weight: 400
}

.modal-header {
    padding: 0px;
    border: none
}

.here_new {
    line-height: 35px;
    font-style: italic;
    font-size: 29px !important
}

.landing_list p {
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    padding: 20px
}

.bg_what_is {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
    width: 100%;
    max-width: 100%
}

.what_is_sections {
    position: relative;
    display: -webkit-flex;
    z-index: 99;
    display: flex;
    left: -100px
}

.row_1 {
    width: 40%;
    padding-right: 30px
}

.row_2 {
    padding-top: 140px;
    width: 40%;
    padding-right: 30px
}

.single_sec {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 30px 0 rgb(26 49 76 / 8%);
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    min-height: 210px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.single_sec:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03)
}

.sec_title {
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #222c3b
}

.sec_desc {
    font-size: 15px;
    margin-bottom: 10px
}

.leads {
    margin-top: -150px
}

.blue_arr {
    position: relative;
    display: inline-block
}

.orange_arr {
    position: relative
}

.blue_arr:before {
    content: "";
    position: absolute;
    width: 90px;
    left: calc(100% + 20px);
    top: 0;
    background-image: url("../public/Assets/Images/bl_arr.png");
    z-index: 999;
    height: 35px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.blue_arr:after {
    content: "";
    position: absolute;
    width: 90px;
    right: calc(100% + 20px);
    top: 0px;
    background-image: url("../public/Assets/Images/bl_arr.png");
    z-index: 999;
    height: 35px;
    background-repeat: no-repeat
}

.bbn {
    line-height: 40px !important;
    max-width: 450px !important
}

.beyond-logo {
    width: 70%;
    margin-top: -60px;
    margin-left: 50px;
}



.orange_arr:before {
    content: "";
    position: absolute;
    width: 90px;
    right: -100px;
    top: 0;
    background-image: url("../public/Assets/Images/org_arr.png");
    z-index: 999;
    height: 35px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.orange_arr:after {
    content: "";
    position: absolute;
    width: 90px;
    left: -100px;
    top: 0;
    background-image: url("../public/Assets/Images/org_arr.png");
    z-index: 999;
    height: 35px;
    background-repeat: no-repeat
}

.divider {
    position: relative;
    width: 100%;
    z-index: -1
}

.securebtn {
    z-index: 99;
    position: relative
}

.divider2 {
    position: relative;
    width: 100%;
    top: -200px
}

.divider3 {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 180px
}

.divider4 {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 250px
}

.Rphero {
    position: relative;
    width: 80%;
    left: -40px
}

.RyanBttn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px
}