@media (max-width:1500px) {

    .herozack {

        left: -70px;
    }

    .header_top:before {
        top: 50px;
    }

    .header_top:after {

        top: 50px;
    }

}

@media (max-width:1400px) and (min-width:1024px) {

    .item_content {
        min-height: 415px;
    }

}

@media (max-width:1300px) {
    .flizack img {
        max-width: 200px;
        margin-top: 60px;
    }

    .herozack {
        width: 70%;
        top: 70px;
        left: 0px;
    }

    .video_home iframe {
        width: 100%;
    }



    .team_img img+img {
        width: 90%;
    }

    .logo_slider button {
        display: none;
    }
}

@media (max-width:1199px) {

    .faster .cloud-affi {
        padding-top: 70px;
    }

    .zachheromobile {
        display: block !important;
    }

    .zach-hero,
    .zachhero {
        display: none;
    }

    .serve_media {
        max-width: 100%;
    }

    .logo_slider .slick-dots {
        display: none important;
    }

    .more_down {
        margin-top: 120px !important;
    }

    .hero_shutp img {
        width: 85%;
    }

    .cloud-shut {
        padding: 23% 0% 0px 5%;
    }

    .cloud-bg:before {
        left: -15px;
    }


    .trial-tec h2 {
        font-size: 30px;
    }

    .trial-tec .row {
        padding: 15px;
    }

    .less-mt {
        margin-top: 0px;
    }

    .less-xmt {
        margin-top: -40px;
    }

    .cloud-right.add_text {
        padding: 20% 0% 0px 10%;
    }

    .cloud-short,
    .cloud-right {
        padding: 10% 0% 0px 10%;
        margin-top: 20px !important;
    }

    .cloud-shut:after {
        background-repeat: no-repeat;
        background-size: 100%;
        right: 55px;
        top: 100px;

    }

    .cloud-shut {
        z-index: -1;
    }

    .cloud-down:after {
        background-repeat: no-repeat;
        background-size: 75%;
        left: 0px;
        top: 0px;
    }

    .super-left:before {
        background-repeat: no-repeat;
        background-size: 80%;
        left: 0;
        top: -130px
    }

    .cloud-right:after {
        background-size: 80%;
        background-repeat: no-repeat;
    }

    .price_dtl.active h3 {
        font-size: 30px;
    }

    .hero_shutp {
        left: 45px;
    }

    .tec_box {
        width: 190px;
    }

    .header .navbar a {
        padding-top: 20px;
    }

    .font_28 {
        font-size: 24px;
    }

    .real_heading h3 {
        font-size: 26px;
    }

    .main {
        background-position: center 175px;
    }

    .logo_sec .slick-prev,
    .testimonial_slide .slick-prev {
        left: -10px;
    }

    .logo_sec .slick-next,
    .testimonial_slide .slick-next {
        right: -10px;
    }

    .testimonial_slide .slick-prev,
    .testimonial_slide .slick-next {
        background-size: 10px !important;
    }

    .header .navbar-brand,
    .darkHeader .navbar-brand {
        width: 200px;
        margin-top: -25px;
        position: static;
    }

    .header .navbar {
        padding: 15px 0;
    }

    .header .navbar .navbar-collapse {
        padding: 0px !important;
    }

    .header .navbar .container {
        -ms-flex-align: center !important;
        align-items: center !important;
    }
}



@media (max-width:991px) {
    .zachheromobile {
        display: block !important;
    }

    .zach-hero,
    .zachhero {
        display: none;
    }

    .flizack img {
        max-width: 160px;
        margin-top: 60px;
    }

    .herozack {
        width: 70%;
        top: 70px;
        left: 0px;
    }

    .hero_shutp {
        left: 0px;
    }

    .font_40 {
        font-size: 32px;
    }

    .super_hero {
        width: 100%;
        right: 0px;
    }

    .cloud-affi p {
        font-size: 16px;
    }

    .hero {
        top: 0px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
        margin-top: 10px !important;
    }

    .gap_0 .col-md-4 {
        max-width: 40%;
        margin: 0px 30px;
        display: inline-block;
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-bottom: 5px;
    }

    .white_cricle {
        width: 171px !important;
        height: 171px !important;
    }

    .white_cricle p {
        line-height: 10px;
    }

    .get_sec:before {
        width: 65px;
    }

    .head_h6 {
        font-size: 18px;
    }

    .serve_sec p {
        font-size: 14px;
        line-height: 20px;
    }

    .tophero {
        margin-top: 20px;
        text-align: center;
    }

    .head_h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .head_h1 {
        font-size: 45px !Important;
    }

    .header_top:before {
        top: 50px;
    }

    .header_top:after {
        right: -60px;
        top: 50px;
    }

    .built_media {
        margin-top: 30px;
    }

    .video_modal iframe {
        height: 300px;
    }

    .header .navbar {
        padding: 10px 15px;
    }

    .header .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        margin: 0px auto;
        right: 0;
        box-shadow: 0px 0px 10px #00000014;
        padding: 5%;
        width: 90%;
        background: #fff;
        left: 0;
        border-top: 1px solid #3683bc;
        border-bottom: 1px solid #3683bc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    }

    .navbar-nav {
        align-items: flex-start !Important;
    }

    .header .navbar-brand {
        margin-top: -15px;
        width: 150px;
    }

    .dropdown>a {
        background: #F4FAFF;
        padding: 9px 5px;
        text-align: left;
    }

    .dropdown {
        width: 100%;
    }

    .sub-item {
        opacity: 1;
        width: 100% !important;
        box-shadow: none !important;
        position: static;
        visibility: visible;
        transform: translateY(0px);
        padding-left: 10px !IMPORTANT;
    }

    .cloud-right:after {
        background-size: 80%;

    }



    .banner_sec {
        padding: 0px 0 10px;


    }

    .record_box4 {
        left: -70px;
    }

    .record_box2 {
        left: 0;
    }

    .record_box .head_h2 {
        margin: 15px 0 5px;
        font-size: 40px;
    }

    .head_h3 {
        font-size: 18px;
    }

    .record_sec {
        padding: 45px 0;
        min-height: 465px;
    }

    .batch_media .media-left {
        height: 170px;
    }

    .font_36 {
        font-size: 28px;
    }

    .advantage_box {
        padding: 20px;
    }

    .advantage_sec h2 {
        margin-bottom: 30px;
    }

    .advantage_sec .btn {
        margin-top: 30px;
    }

    .data_head {
        margin: 0 auto 20px;
    }

    .source_sec h3 {
        margin-top: 30px;
    }

    .font_30 {
        font-size: 24px;
        line-height: 28px;
    }

    .blackDot_img {
        margin: 10px 0;
    }

    .source_text p:not(:last-child) {
        margin-bottom: 15px;
    }



    .banner_text {
        padding-left: 0;
        padding-top: 25px;
    }

    .pt_93 {
        padding-top: 73px;
    }

    .font_28 {
        font-size: 24px;
        line-height: 28px;
    }

    header .navbar .btn {
        margin-top: 5px;
    }

    .contact-box .btn {
        padding: 9px 22px !Important;
    }

    .divider2 {
        top: -100px;
    }

    .divider {
        top: -60px;
    }

    .what_is_sections {
        left: 0px;
    }

    .sec_desc p {
        line-height: 20px;
    }

    .row_1,
    .row_2 {
        width: 100%;
    }

    .btn-square {
        padding: 15px 20px !important;
    }

    .bbn {
        line-height: 32px !important;
        font-size: 21px !important;
    }

    .trail-h1 {
        padding: 0px;
        margin: 0px 0px !important;
    }

    .orange_arr {
        font-size: 20px !important;
    }

    .data_listcheck li {
        font-size: 18px;
    }

    .serve_sec h2:before,
    .serve_sec h2:after {
        background-size: 50%;
        background-repeat: no-repeat;
        top: 0px
    }

    .serve_sec h2:before {
        right: -55px;
    }

    .serve_sec h2:after {
        left: 0px;
    }

    .cloud-bg:before {
        background-size: 90%;
        top: -150px;
        left: 0px;
        background-repeat: no-repeat;
    }

    .banner_text p {
        max-width: 100%;
    }

    .compare-head h3 {
        line-height: 34px;
        padding-top: 30px;
    }
}

@media (max-width:890px) {


    .leftDot_line {

        align-items: center;
        vertical-align: middle;
        display: flex;
    }

    .RyanBttn {
        position: static;
    }

    .mobile-view {
        display: block !important;
        text-align: center;
        background: none;
    }

    .cloud-shut:after {

        background-size: 80%;
        right: -130px;
        top: 53px;
        align-items: center;
    }

    .mobile-view .media {
        display: block;
    }


    .super-bottom {
        margin-top: -70px;
    }
}

@media screen and (max-width:980px) and (min-width:767px) {
    .short_text {

        top: 56%;
        left: 24px;
    }

    .faster .cloud-affi {
        padding-top: 70px;
    }

    .table-info {
        width: 45%;
    }

    /* .slick-slide img {
        width: 120px;
    } */

    .head_h1 {
        font-size: 34px !Important;
        line-height: 35px;
    }

    .super-bottom {
        margin-top: -98px;
    }

    .banner_sec {
        padding: 0px 0 10px;
    }

    .cloud-shut {
        text-align: left;
        padding: 22% 0% 0px;
    }

    .cloud-shut:after {

        background-size: 90%;
        right: -52px;
        top: 20px;
        align-items: center;
    }

    .hero_shutp img {
        width: 95%;
    }


}

@media (max-width:767px) {
    .headers_top {

        background: none;
    }

    .inner_bnr {
        padding: 20px 0px;
    }

    .card h5:before {
        font-size: 40px;
    }

    img.tabhero {
        margin: 0px auto;
    }

    .data_box {
        margin: 0 auto 30px;
        padding-top: 0px;
        text-align: center;
    }

    .banner_sec {
        text-align: center;
    }

    .price_list .btn {
        min-width: auto;
        font-size: 16px;
    }

    .price_list li {
        font-size: 13px;
        line-height: 19px;
    }

    .price_dtl.active h3 {
        font-size: 26px;
    }

    img.facicon {
        padding-left: 0px;
    }

    .footer_menu a:not(:last-child) {
        margin-right: 5px;
        padding-right: 5px;
    }

    .head_h1 {
        font-size: 40px !Important;
        line-height: 40px;
        padding: 0px !IMPORTANT;
    }

    .flizack img {
        margin-top: 0px;
        max-width: 200px;
    }

    .flizack {
        position: static;
        margin-top: -60px;
    }

    .herozack {
        left: 0;
        width: 100%;
        top: 20px;
    }

    .gap_0 .col-md-4 {
        max-width: 100%;
        display: inline-block;
        text-align: center;
    }

    .cloud-affi {

        text-align: left;
        padding-left: 20px;
    }

    .cloud-short,
    .cloud-right {
        padding: 10% 0% 0px 17%;
    }

    .RyanBttn {
        position: static;
    }

    .short_text {
        top: 60%;
        left: 0;
        right: 0;
        margin: 0px auto;

    }

    .cloud-shut {
        padding: 7% 0% 0px 15%;
        text-align: left;
    }

    .more_down {
        margin-top: 60px !important;
    }

    .cloud-right:after {

        top: -40px;
    }

    .cloud-down:after {
        top: -30px;
        left: 50px;

    }

    .cloud-down {
        padding: 1% 8% 0px 10%;
        text-align: left;
    }

    .extra_space {
        padding-top: 10px;
    }

    .swap_coloum {
        flex-direction: column-reverse;
    }

    .font_40 {
        font-size: 30px;
        line-height: 33px;
    }

    .font_24 {
        font-size: 20px;
    }

    .serve_sec h2 {

        font-size: 30px;
    }

    .header_top:before,
    .header_top:after {
        top: 53px;
        right: 0px;
    }

    .logo_top {
        width: 270px;
    }

    .flex-tec {
        width: 45%;
        margin: 10px;
    }


    .cloud-right {
        text-align: left;
        padding: 20px;
    }

    .cloud-right.add_text {
        padding: 80px 60px 0px 110px;
    }

    .cloud-bg:before {
        background-size: 70%;
        background-repeat: no-repeat;
        left: 0px;
        right: 0px;
        margin: 0px auto;

        top: -80px;
    }

    .compare-head {
        padding: 40px 0px !important;
    }

    .orange_arr {
        font-size: 20px !important;
    }

    .leads {
        margin-top: 0px;
    }

    .leftDot_line:before {
        top: 0px;
    }

    .know_box {
        width: 80%;
        margin: 0px auto;
    }

    .way_sec {
        margin-top: 20px;
    }

    .data_box .nav-tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data_box a {
        margin-top: 80px;
    }

    .table-info {
        width: 40%;
        padding-left: 15px;
    }

    .first_box {
        left: 0px;
    }

    .last_box {
        right: 0px;
        top: 20px;
    }

    .side_box {
        top: 20px;
    }

    #newsLet {
        width: 100% !important;
        min-width: fit-content;
        padding: 4px 34px;
    }

    .banner_text p {
        max-width: 100%;
    }

    .data_sec p {
        font-size: 15px;
        line-height: 22px;
    }

    .logo_slider .slick-slide img {
        width: 120px;
    }

    .source_img {
        margin: 40px 0px;
        align-items: center;
    }

    .tec_box {
        margin: 0px auto;
    }

    .api-media {
        margin: 0px auto;
        margin-top: 20px;
    }

    .serve_media {
        margin: 0px auto;
        margin-top: 20px !important;
    }

    .home_box {
        margin-top: 20px !Important;
        position: static;
        margin: 0px auto;
    }

    .headers_top {
        text-align: center;
    }

    .orange_text {
        text-align: center !important;
    }

    .bbn {
        max-width: 100% !important;
    }

    .divider2 {
        top: -70px;
    }

    .what_is_sections {
        left: 0px;
    }

    .min_footer img {
        margin: 10px 0px;
    }

    .form_box .btn {
        margin-left: 15px;
    }

    /* 
    .tec_sec {
        margin-top: 0px;
    } */



    .head_h2 {
        font-size: 26px !important;
    }

    .head_h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .head_h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .built_sec .head_h2 {
        font-size: 32px;
    }

    .built_media {
        margin-top: 10px;
        display: block;
        max-width: 100%;
    }

    .built_media .media-left {
        width: 100%;
        height: auto;
    }

    .testimonial_sec {
        padding: 40px 0 80px;
    }

    .testimonial_head .head_h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .testimonial_head p {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px;
    }

    .item_content {
        padding: 15px;
        min-height: 350px;
    }

    .item_content p {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 5px;
    }

    .slick-dots {
        bottom: -50px;
    }

    .footer_sec {
        padding: 15px 0;
    }

    .footer_menu {
        margin: 15px 0 15px;
    }

    .slick-dots li,
    .slick-dots li button {
        width: 30px;
    }

    .video_modal iframe {
        height: 250px;
    }

    .header .dropdown-menu {
        width: 100% !important;
    }

    .banner_text .head_h2 {
        margin: 5px 0 15px;
    }

    .btn {
        line-height: 30px;
        min-width: 230px;
        font-size: 14px;
        padding: 5px 16px;
        margin-top: 20px !important;

    }

    .banner_text {
        text-align: center;
    }

    .banner_text .btn {
        margin-bottom: 20px;
    }

    .record_box {
        position: static;
        max-width: 100%;
        margin-bottom: 10px;
        min-height: inherit;
    }

    .record_box .head_h3 {
        font-size: 18px;
        line-height: 20px;
    }

    .font_28 {
        font-size: 18px;
        line-height: 24px;
    }

    .built_sec .head_h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .built_media p {
        font-size: 16px;
        line-height: 18px;
    }

    .data_list li {
        margin: 0 0 5px;
    }

    .font_36 {
        font-size: 24px;
    }



    .source_text {
        margin-top: 15px;
    }

    .team_bg p {
        width: 80%;
        font-size: 16px;
    }

    .items_custom h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .cloud-shut:after {
        top: -90px;
        left: 0px;
        right: 0px;
        background-size: 90%;
        margin: 0px auto;
    }

    .faq_sec {
        padding: 30px 0;
    }

    .faq_sec div#accordion .card {
        margin-bottom: 20px;
        padding: 18px 15px 13px;
    }

    .faq_sec div#accordion .btn-link {
        font-size: 20px;
        line-height: 24px;
    }

    .faq_sec .card-body {
        line-height: 18px;
        font-size: 14px;
        padding: 5px 0 0;
    }

    .faq_sec div#accordion button .fa {
        font-size: 18px;
        top: 0;
    }



    .leftDot_line {

        padding-left: 20px;
    }

    .price_dtl {
        margin-bottom: 50px !important;
        width: 74%;
        margin: 0px auto;
    }

    .super-bottom {
        margin-top: -50px;
    }



    .headers_top img {
        text-align: center;
    }

    .headers_top a.logo_top {
        display: block;
        margin: 0px auto;
        text-align: center;
    }

    .tabs-img {
        width: 95%;
    }

    .table-info {
        width: 100%;
        padding: 20px;
    }

    .logo_image.future img {
        width: 120px;
        right: 0px;
    }

    .tab-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .single_lead {
        margin-bottom: 0px !IMPORTANT;
    }

    .mt-5.first_btn {
        margin-top: 0px !important;
    }

    .extra_bg_herojamil {
        width: 75%;
    }

    .jamil2-hero {

        right: 0px;
        top: 0px;
        width: 30%;
    }

    .tec_sec {
        margin-top: 30px;
    }

    .fasterfrdm {
        margin-top: 0px;
    }

    .faster .cloud-affi {
        padding-top: 60px;
        margin-bottom: 0px;
    }

    .fasterlog {
        top: -10px;
        left: 40px;
        width: 100px;
    }
}

@media (max-width:540px) {
    .logo_image.future img {
        width: 50px;
        right: 0px;
    }

    .cloud-right {
        text-align: center;
    }

    .price_dtl h3 {
        font-size: 20px;
    }

    .cloud-down:after {
        left: 30px;
    }

    .beyond-logo {
        width: 50%;
        margin-top: 0px;
        margin-left: 0px;
    }

    .source_sec p {

        font-size: 16px;
        line-height: 21px;
    }

    .blue_arr:before,
    .blue_arr:after {

        display: none;
    }

    .subs iframe {
        width: 100%;
    }

    .btn-square {
        font-size: 18px;
    }

    .row1 {
        display: block;
    }

    .tabx_bx {
        max-width: 220px;
    }

    .zach-hero {
        width: 70%;
    }

    .zachhero {
        left: -114px;
        top: -4px;
        width: 60%;
    }


    .flizack {
        margin-top: -20px;
    }

    .serve_sec h2 {
        max-width: 100%;
        font-size: 24px;
    }

    .data_box a {
        font-weight: 700;
        font-size: 13px;
        padding: 10px 15px;
        min-width: 180px;
    }

    .cloud-affi {

        text-align: center;
        padding-left: 0px;
    }

    .cloud-shut:after {

        background-size: 60%;
    }

    .header_top:before,
    .header_top:after {
        display: none;
    }

    .cloud-down {
        text-align: center;
    }

    .super-left:before {
        background-repeat: no-repeat;
        background-size: 60%;
    }

    .cloud-right:after {
        background-size: 74%;
        top: -20px;
        left: 10px;
    }


    .btn {
        font-size: 12px;
    }

    .cloud-affi p {
        font-size: 14px;
        line-height: 19px;
    }

    .cloud-right.add_text {
        padding: 70px 70px 0px;
    }

    .flex-tec {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 20px;
    }

    .reach_sec p {
        font-size: 15px;
        line-height: 20px;
    }

    .footer_sec h4 {
        font-size: 30px;
        line-height: 35px;
    }

    .cloud-affi {
        margin-bottom: 0px;
    }
}

@media (max-width:480px) {

    .cloud-down:after {
        left: 0;
    }

    .font_30 {
        font-size: 20px;
    }

    .whft-logo {
        margin-left: 0px;
    }

    .serve_sec h2 {
        font-size: 18px;
    }

    .head_h2 {
        font-size: 24px !important;
    }

    .font_40 {
        font-size: 24px;
    }
}